# MANIFEST.in
exclude .gitignore
exclude .python-version
exclude .coverage
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune distrecursive-exclude *.egg-info *
recursive-include tests *
